<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1640441819592537";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
    <div class="fh5co-counters" data-stellar-background-ratio="0.5" id="counter-animate">
      <div class="fh5co-narrow-content">
        <div class="row">
           <div class="row">
              <div class="col-md-12 col-md-offset-4 animate-box" data-animate-effect="fadeInLeft">
                <h1 class="fh5co-heading-colored"> MARKETING TOOLS </h1>
              </div>
            </div>

          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-lightbulb"></i>
              </div>
              <div class="fh5co-text">
                <h3><b> SHARE ON FACEBOOK </b></h3>
                 <div class="fb-share-button"
                     data-href=<%= "#{current_user.referral_link}"  %>
                     data-layout="button_count">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-lightbulb"></i>
              </div>
              <div class="fh5co-text">
                <h3><b> COPY & SHARE BELOW LINK FOR REFERRAL PROFITS </b></h3>
               <h3><%= current_user.referral_link  %></h3>

              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-lightbulb"></i>
              </div>
              <div class="fh5co-text">
                <h3>POST AN ADVERT</h3>
                <p><%= link_to 'Post Advert' %></p>

              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-lightbulb"></i>
              </div>
              <div class="fh5co-text">
                <h3> POST PROMO VIDEO </h3>
                  <p><%= link_to 'Post Promo Video' %></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fh5co-counters" style="background-image: url(<%= image_path('2.jpg') %>);" data-stellar-background-ratio="0.5" id="counter-animate">
          <div class="fh5co-narrow-content animate-box">
            <div class="row" >
              <div class="col-md-10">
                  <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                      <div class="fh5co-icon">
                        <i class="icon-info"></i>
                      </div>
                    <div class="fh5co-text">
                       <h2 style = "color: #da1212"> MARKETING TOOLS </h2><br/>
                        <p style = "color: #fff"> This material above is supplied by the administrator to help users who want to really participate on the system and stand a chance to increase their interest rate from 30% to 100% possibly. Users will use this contents to invite or share about this community to the public. New members can easily be pulled in by clicking on your link option where they will be led to your profile and possibly sign up. Please make sure that you give new potential members your email address so they can use it as referral, else you wont be getting paid if your email was not used. </p>
                    </div>
                  </div> 
              </div>
            </div>
          </div>
      </div>


    </div>
  </div>
 
