<div id="fh5co-pricing-section" >
  <div class="container" >
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
        <h2 style = "font-size: 50px; color: #FFFFFF" >UNPAID DONATIONS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center animate-box">
        <div class="pricing">
          <div class="col-md-10 animate-box">
            <div class="price-box" style="overflow-x:auto;">
              <h2 class="pricing-plan"> UNPAID DONATIONS </h2>
              <h2 class="price"> <%= unpaid_transactions_total(@money_transactions) %> </h2>
              <table style="overflow-x:auto;">
                <tr>
                  <th>Date</th>
                  <th>Reporter</th>
                  <th>Donor</th>
                  <th>Amount</th>
                  <th>Re-assign</th>
                  <th>Remove</th>
                </tr>
                <% if @money_transactions.present? %>
                  <% @money_transactions.each do |mt| %>
                    <tr>
                      <td class="pricing-plan"> <%= mt.updated_at.strftime('%F') %> </td>
                      <td class="pricing-plan"> <%= mt.withdrawal.user.first_name %> </td>
                      <td class="pricing-plan"> <%= mt.donation.user.first_name %> </td>
                      <td class="pricing-plan"><%= mt.amount %> </td>
                      <td><%= form_tag(toggle_transaction_status_path(mt.id)) do %>
                            <%= hidden_field_tag(:status, MoneyTransaction.statuses[:pending]) %>
                            <%= submit_tag 'Re-assign',
                                           class: 'btn btn-primary btn-outline',
                                           data: { confirm: 'Are you sure?' }
                            %>
                        <% end %>
                      </td>
                      <td>
                        <%= form_tag(toggle_transaction_status_path(mt.id)) do %>
                            <%= hidden_field_tag(:status, MoneyTransaction.statuses[:blocked]) %>
                            <%= submit_tag 'Remove Donation',
                                           class: 'btn btn-primary btn-outline',
                                           data: { confirm: 'Are you sure?' }
                            %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


<div id="fh5co-pricing-section" >
  <div class="container" >
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
        <h2 style = "font-size: 50px; color: #FFFFFF" >ADVERT ADMIN </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center animate-box">
        <div class="pricing">
          <div class="col-md-10 animate-box">
            <div class="price-box" style="overflow-x:auto;">
              <h2 class="pricing-plan"> Manage ADVERTS </h2>
              <table style="overflow-x:auto;">
                <tr>
                  <th>Posted On</th>
                  <th>Content</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th></th>
                </tr>
                <% if @adverts.present? %>
                    <% @adverts.each do |ad| %>
                        <tr>
                          <td class="pricing-plan"> <%= ad.created_at.strftime('%F') %> </td>
                          <td class="pricing-plan"><%= ad.advert_body %> </td>
                          <td class="pricing-plan"><%= ad.phone %> </td>
                          <td class="pricing-plan"><%= ad.email %> </td>
                          <td class="pricing-plan"><%= ad.address %> </td>
                          <td class="pricing-plan"> <%= ad.status %> </td>
                          <td>
                            <%= form_tag(toggle_advert_status_path(ad.id)) do %>
                                <%= hidden_field_tag(:id, ad.id) %>
                                <%= hidden_field_tag(:status, Advert.statuses[:published]) %>
                                <%= submit_tag 'Approve',
                                               class: 'btn btn-primary btn-outline',
                                               data: { confirm: 'You are about to approve this ad, are you sure?' },
                                               disabled: !ad.requested?
                                %>
                            <% end %>
                          </td>
                          <td>
                            <%= form_tag(toggle_advert_status_path(ad.id)) do %>
                                <%= hidden_field_tag(:id, ad.id) %>
                                <%= hidden_field_tag(:status, Advert.statuses[:rejected]) %>
                                <%= submit_tag 'Decline',
                                               class: 'btn btn-primary btn-outline',
                                               data: { confirm: 'You are about to decline this ad, are you sure?' },
                                               disabled: !ad.requested?
                                %>
                            <% end %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>