<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2 style = "font-size: 50px; color: #FFFFFF">Community Wealth SA  <%= link_to image_tag('sa-flag.png', :alt => 'Community Wealth SA 2017') %></a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center animate-box">
        <div class="pricing">
          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Last Donation</h2>
              <div class="price"><sup class="currency">
                <%= current_user.current_donation.present? ? number_to_currency(current_user.current_donation.amount, unit: 'R ', precision: 2) : 0 %>
              </sup>
              <small>
                Exp <%= (number_with_precision((6 - current_user.current_donation.months_invested), precision: 0)) if current_user.current_donation.present? %> months
              </small>
              </div>
              <button type="submit" name="submit" class="btn btn-primary btn-outline" style="" required="required" data-toggle="modal" data-target="#Deposit">Donate</button>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Interest Rate</h2>
              <div class="price">30<sup class="currency">%</sup><small>per month</small></div>

              <a href="#" class="btn btn-primary btn-outline" style=" " required="required" data-toggle="modal" data-target="#InterestRate">Increase Interest</a>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box popular">
              <h2 class="pricing-plan pricing-plan-offer">Investment<span>Count Down</span></h2>
              <div class="price">
                <%= current_user.current_donation.present? ? number_with_precision(current_user.current_donation.profit_counter, precision: 0) : 0 %>
                <sup class="currency">days</sup><small>Weekly Payments</small>
              </div>

              <a href="#" class="btn btn-primary btn-outline">Select Plan</a>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box popular">
              <h2 class="pricing-plan pricing-plan-offer">Wallet<span>Withdraw Cash</span></h2>
              <div class="price"><sup class="currency">R <%= current_user.wallet.amount %></sup><small>Available</small></div>

              <a href="#" class="btn btn-primary btn-outline">Withdraw Cash</a>

            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 col-md-offset-1 text-center animate-box">
          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Total Referrals</h2>
              <div class="price">30<sup class="currency"></sup><small>Referrals</small></div>

              <a href="#" class="btn btn-primary btn-outline">Join Business</a>
            </div>
          </div>

        <div class="pricing">
          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Referral Bonus</h2>
              <div class="price"><sup class="currency">R10 000.00</sup><small>10% per referral</small></div>

              <a href="#" class="btn btn-primary btn-outline">Check Out</a>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box popular">
              <h2 class="pricing-plan pricing-plan-offer">Investment<span>Count Down</span></h2>
              <div class="price">30<sup class="currency">days</sup><small>Weekly Payments</small></div>

              <a href="#" class="btn btn-primary btn-outline">Select Plan</a>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box popular">
              <h2 class="pricing-plan pricing-plan-offer">Business<span>Advertise Here</span></h2>
              <div class="price"><sup class="currency">3 ADVERTS</sup><small>Available</small></div>

              <a href="#" class="btn btn-primary btn-outline">Advertise</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Deposit" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan"><%= image_tag('deposit.png', :alt => 'Community Wealth SA 2017') %></h2>
                <%= form_tag('donations', remote: true, format: :json) do %>
                    <h2> HOW MUCH IS YOUR DEPOSIT? <sup class="currency"></sup></h2><br/>
                    <%= hidden_field_tag(:user_id, current_user.id) %>
                    <div class="price">
                      <%= number_field_tag(:amount, nil, class: 'btn btn-primary btn-outline') %><sup class="currency"></sup>
                    </div>
                    <br/><br/>

                    <button type="submit" name="submit" class="btn btn-primary btn-outline" style="" required="required" data-toggle="modal" data-target="#Deposit" >Cancel</button>
                    <%= submit_tag 'Approve', class: 'btn btn-primary btn-outline', required: 'required', data: { toggle: 'modal', target: '#Deposit' }%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="InterestRate" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2> INCREASE YOUR INTEREST RATE? <sup class="currency"></sup></h2><br/>
                <h2 class="pricing-plan"><%= image_tag('deposit.png', :alt => 'Community Wealth SA 2017') %></h2>
                <button type="submit" name="submit" class="btn btn-primary btn-outline" style=" " required="required" data-toggle="modal" data-target="#InterestRate" >Cancel</button>
                <button type="submit" name="submit" class="btn btn-primary btn-outline" style=" " required="required" data-toggle="modal" data-target="#InterestRate">Approve</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-main">
  <div class="fh5co-counters" style='background-image: <%= image_tag('hero.jpg')%>' data-stellar-background-ratio="0.5" id="counter-animate" >
    <div class="fh5co-narrow-content">

      <div class="row">
        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-strategy"></i>
            </div>
            <div class="fh5co-text">
              <h3>Strategy</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-telescope"></i>
            </div>
            <div class="fh5co-text">
              <h3>Explore</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-circle-compass"></i>
            </div>
            <div class="fh5co-text">
              <h3>Direction</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-tools-2"></i>
            </div>
            <div class="fh5co-text">
              <h3>Expertise</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>