<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
        <h2 style = "font-size: 50px; color: #FFFFFF">Community Wealth SA  <%= link_to image_tag('sa-flag.png', :alt => 'Community Wealth SA 2017') %></a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center animate-box">
        <div class="pricing">
          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Donation Total</h2>
              <div class="price"><sup class="currency">
                <%= display_as_money(current_user.donation_total) %>
              </sup>
              <small>
                Exp <%= (number_with_precision((6 - current_user.current_donation.months_invested), precision: 0)) if current_user.current_donation.present? %> months
              </small>
              </div>
              <button type="submit"
                      name="submit"
                      class="btn btn-primary btn-outline"
                      data-toggle="modal"
                      data-target="#deposit"
                      <% if current_user.pending_donations.present? || current_user.rejected_donations.present? %>
                        data-toggle="tooltip" title="You have uncompleted donations"
                        disabled="disabled"
                      <% end %>
                      >
                Donate
              </button>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Interest Rate</h2>
              <div class="price">30<sup class="currency">%</sup><small>per month</small></div>

              <a href="#"
                 class="btn btn-primary btn-outline"
                 data-toggle="modal"
                 data-target="#InterestRate">Increase Interest</a>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box popular">
              <h2 class="pricing-plan pricing-plan-offer">Donation<span>Count Down</span></h2>
              <div class="price">
                <%= current_user.current_donation.present? ? number_with_precision(current_user.current_donation.profit_counter, precision: 0) : 0 %>
                <sup class="currency"><%= 'day'.pluralize(current_user.current_donation&.profit_counter) %></sup><small>Weekly Payments</small>
              </div>

              <a href="#" class="btn btn-primary btn-outline">Select Plan</a>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box popular">
              <h2 class="pricing-plan pricing-plan-offer">Wallet<span>Withdraw Cash</span></h2>
              <div class="price"><sup class="currency">R <%= current_user.wallet.balance %></sup><small>Available</small></div>
              <% if current_user.wallet.balance > 0  %>
                  <button type="submit"
                          name="submit"
                          class="btn btn-primary btn-outline"
                          data-toggle="modal"
                          data-target="#withdraw">
                    Withdraw
                  </button>
              <% else %>
                <small>Nothing to withdraw</small>
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 col-md-offset-0 text-center animate-box">
          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">New Referrals</h2>
              <div class="price"><%= current_user.new_referees.count %><sup class="currency"></sup><small>Referrals</small></div>

              <button type="submit"
                      name="submit"
                      class="btn btn-primary btn-outline"
                      data-toggle="modal"
                      <%= current_user.new_referees.count > 0 ? '' : "disabled='true'" %>
                      data-target="#NewReferrals">View All</button>
            </div>
          </div>

        <div class="pricing">
          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Referral Bonus</h2>
              <div class="price"><sup class="currency"><%= display_as_money(current_user.referral_bonus) %></sup><small>10% per referral</small></div>

              <%= form_tag(add_bonus_to_wallet_path) do %>
                <%= hidden_field_tag(:user_id, current_user.id) %>
                <%= hidden_field_tag(:amount, current_user.referral_bonus) %>
                <%= submit_tag 'Checkout',
                               class:    'btn btn-primary btn-outline',
                               disabled: current_user.referral_bonus < 1000,
                               data: { confirm: 'Are you sure?' }%>
              <% end %>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Active Referrals</h2>
              <div class="price"><%= current_user.active_referrals.count %><sup class="currency"></sup><small>Referrals</small></div>

              <button type="submit"
                      name="submit"
                      class="btn btn-primary btn-outline"
                      data-toggle="modal"
                      <%= current_user.active_referrals.count > 0 && current_user.paying_referrals_list.present? ? '' : "disabled='true'" %>
                      data-target="#ActiveReferrals">View All</button>
            </div>
          </div>

          <div class="col-md-3 animate-box">
            <div class="price-box popular">
              <h2 class="pricing-plan pricing-plan-offer">Advertise Here<span></span></h2>
              <div> <sup class="currency">
                <%= link_to "#{current_user.pending_adverts.count} Posted", user_ads_path %><br/>
                <%= current_user.published_adverts.count %> Approved <br/>
                <%= current_user.pending_adverts.count - current_user.published_adverts.count%> Pending <br/></sup><small>Free adverts</small></div>

              <a href="#" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#advert" >Advertise</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deposit" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan"><%= image_tag('deposit.png', :alt => 'Community Wealth SA 2017') %></h2>
                <%= form_tag('donations', remote: true, format: :json) do %>
                    <h2> HOW MUCH IS YOUR DEPOSIT? <sup class="currency"></sup></h2><br/>
                    <%= hidden_field_tag(:user_id, current_user.id) %>
                    <%= hidden_field_tag(:compounded, false) %>
                    <div class="price">
                      <%= select_tag(:amount, options_for_select(['Please select'].concat((1000..50000).step(500).to_a)), {class: 'btn btn-primary btn-outline', required: true}) %><sup class="currency"></sup>
                    </div>
                    <br/><br/>

                    <button type="button"
                            class="btn btn-primary btn-outline"
                            data-dismiss="modal" >Cancel</button>
                    <%= submit_tag 'Approve', class: 'btn btn-primary btn-outline', required: 'required', data: { toggle: 'modal', target: '#deposit' }%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="withdraw" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan"><%= image_tag('deposit.png', :alt => 'Community Wealth SA 2017') %></h2>
                <%= form_tag('/withdrawals', remote: true, format: :json) do %>
                    <h2> HOW MUCH DO YOU WANT TO WITHDRAW?</h2><br/>
                    <%= hidden_field_tag(:user_id, current_user.id) %>
                    <div class="price">
                      <%= select_tag(:amount, options_for_select(['Please select'].concat((300..current_user.wallet.balance).step(100).to_a)), {class: 'btn btn-primary btn-outline', required: true}) %><sup class="currency"></sup>
                    </div>
                    <br/><br/>

                    <button type="button"
                            class="btn btn-primary btn-outline"
                            data-dismiss="modal">Cancel</button>
                    <%= submit_tag 'Approve',
                                   class: 'btn btn-primary btn-outline',
                                   data: { toggle: 'modal', target: '#withdraw' }%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="InterestRate" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2> INTEREST RATE INCREASE <sup class="currency"></sup></h2><br/>
                <h2 class="pricing-plan"><%= image_tag('deposit.png', :alt => 'Community Wealth SA 2017') %></h2>
                <button type="submit" name="submit" class="btn btn-primary btn-outline" style=" " required="required" data-toggle="modal" data-target="#InterestRate" > LETS DO IT </button>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="advert" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">PLEASE ENTER YOUR AD DETAILS HERE</h2>
                <table>
                  <%= form_tag('adverts', remote: true, format: :json) do %>
                     <%= fields_for :advert do |ad| %>
                        <%= ad.hidden_field(:user_id, value: current_user.id) %>
                        <tr>
                          <th class="pricing-plan">Advert Title</th>
                          <td><%= ad.text_field(:title, class: 'btn btn-primary btn-outline', required: true) %></td>
                        </tr>
                        <tr>
                          <th class="pricing-plan">Email</th>
                          <td><%= ad.text_field(:email, class: 'btn btn-primary btn-outline', required: true) %></td>
                        </tr>
                        <tr>
                          <th class="pricing-plan">Phone</th>
                          <td><%= ad.text_field(:phone, class: 'btn btn-primary btn-outline', required: true) %></td>
                        </tr>
                        <tr>
                          <th class="pricing-plan">Advert Text</th>
                          <td><%= ad.text_area(:advert_body, {rows: 5, cols: 20 , required: true}) %></td>
                        </tr>
                        <tr>
                          <tr>
                            <th class="pricing-plan">City</th>
                            <td><%= ad.text_field(:address, class: 'btn btn-primary btn-outline', required: true) %></td>
                          </tr>
                          <td colspan="2" align="center">
                            <button type="button" class="btn btn-primary btn-outline" data-dismiss="modal" >Cancel</button>
                            <%= ad.submit 'Approve',
                                           class: 'btn btn-primary btn-outline',
                                           required: 'required',
                                           data: { toggle: 'modal', target: '#advert' }%>
                          </td>
                      <% end %>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="NewReferrals" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">THESE ARE MEMBERS YOU REFERRED</h2>
                <table>
                  <thead>
                    <th>Name</th>
                    <th>Surname</th>
                  </thead>
                  <tbody>
                  <% current_user.referee_list.each do |r| %>
                  <tr>
                    <td><%= r.first_name %></td>
                    <td><%= r.last_name %></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td colspan="2">
                      <button type="button" class="btn btn-primary btn-outline" data-dismiss="modal">OK</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ActiveReferrals" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">YOU ARE RECEIVING A BONUS FROM THESE MEMBERS</h2>
                <table>
                  <thead>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Bonus</th>
                  </thead>
                  <tbody>
                  <% current_user.paying_referrals_list.each do |r| %>
                      <tr>
                        <td><%= r['first_name'] %></td>
                        <td><%= r['last_name'] %></td>
                        <td><%= display_as_money(r['bonus_amount']) %></td>
                      </tr>
                  <% end %>
                  <tr>
                    <td colspan="3">
                      <button type="button" class="btn btn-primary btn-outline" data-dismiss="modal">OK</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'common/placeholder' %>

  <div class="fh5co-counters" style="background-image: url(<%= image_path('2.jpg') %>);" data-stellar-background-ratio="0.5" id="counter-animate">
    <div class="fh5co-narrow-content animate-box">
      <div class="row" >
        <div class="col-md-4 text-center">
          <span class="fh5co-counter js-counter" data-from="0" data-to="16" data-speed="5000" data-refresh-interval="50"></span>
          <span class="fh5co-counter-label">Share holders </span>
        </div>
        <div class="col-md-4 text-center">
          <span class="fh5co-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
          <span class="fh5co-counter-label">Total Profit</span>
        </div>
        <div class="col-md-4 text-center">
          <span class="fh5co-counter js-counter" data-from="0" data-to="1234" data-speed="5000" data-refresh-interval="50"></span>
          <span class="fh5co-counter-label">Active Users</span>
        </div>
      </div>
    </div>
</div>