<div id="fh5co-pricing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2 style="font-size: 50px; color: #FFFFFF"> Active Donations </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center animate-box">
        <div class="pricing">
          <div class="col-md-12 animate-box">
            <div class="price-box" style="overflow-x:auto;">
              <h2 class="pricing-plan"> Transactions on Donation </h2>
              <% if @donations.present? %>
                  <% @donations.each_with_index do |donation, index| %>
                      <br>
                      <h4>Donation <%= index + 1 %>: Amount:
                        <%= number_to_currency(donation.amount, unit: 'R ', precision: 2) %>
                        Balance: <%= number_to_currency(donation.balance, unit: 'R ', precision: 2) %>
                        <br>
                        <hr>
                      </h4>
                      <% if donation.money_transactions.present? %>
                          <table>
                            <thead>
                            <th></th>
                            <th>Recipient Name</th>
                            <th>Bank Name</th>
                            <th>Account Number</th>
                            <th>Branch Code</th>
                            <th>Account Type</th>
                            <th>Amount</th>
                            <th>Status</th>
                            </thead>
                            <tbody>
                            <% donation.money_transactions.each_with_index do |tr, index| %>
                                <tr>
                                  <td><%= index + 1 %></td>
                                  <td><%= tr.withdrawal_user_name %></td>
                                  <td><%= tr.recipient_bank_name %></td>
                                  <td><%= tr.recipient_account_number %></td>
                                  <td><%= tr.recipient_branch_code %></td>
                                  <td><%= tr.recipient_account_type %></td>
                                  <td><%= tr.amount %></td>
                                  <td><%= tr.status %></td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                      <% end %>
                  <% end %>
              <% else %>
                  <h3>You have no active donation transactions</h3>
              <% end %>
            </div>

            <div class="price-box" style="overflow-x:auto;">
              <h2 class="pricing-plan"> Transactions on Withdrawal </h2>
              <% if @withdrawals.present? %>
                  <% @withdrawals.each_with_index do |withdrawal, index| %>
                      <br>
                      <h4>Withdrawal <%= index + 1 %>:
                        Amount: <%= number_to_currency(withdrawal.amount, unit: 'R ', precision: 2) %>
                        Balance: <%= number_to_currency(withdrawal.balance, unit: 'R ', precision: 2) %>
                      </h4>
                      <hr>
                      <br>
                      <% if withdrawal.pending_money_transactions.present? %>
                          <table>
                            <thead>
                            <th></th>
                            <th>Donor Name</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Proof of payment</th>
                            <th colspan="2">Complete/Reject</th>
                            </thead>
                            <tbody>
                            <% withdrawal.money_transactions.each_with_index do |tr, index| %>
                                <tr>
                                  <td><%= index + 1 %></td>
                                  <td><%= tr.donation_user_name %></td>
                                  <td><%= number_to_currency(tr.amount, unit: 'R ', precision: 2) %></td>
                                  <td><%= tr.status %></td>
                                  <td><%= tr.status %></td>
                                  <td>
                                    <%= form_tag(toggle_transaction_status_path(tr.id)) do %>
                                        <%= hidden_field_tag(:id, current_user.id) %>
                                        <%= hidden_field_tag(:status, 2) %>
                                        <%= submit_tag 'Complete',
                                                       class: 'btn btn-primary btn-outline',
                                                       disabled: !tr.pending?,
                                                       data: { confirm: 'Are you sure?' }%>
                                    <% end %>
                                  </td>
                                  <td>
                                    <%= form_tag(toggle_transaction_status_path(tr.id)) do %>
                                        <%= hidden_field_tag(:id, current_user.id) %>
                                        <%= hidden_field_tag(:status, 3) %>
                                        <%= submit_tag 'Reject',
                                                       class: 'btn btn-primary btn-outline',
                                                       disabled: !tr.pending?,
                                                       data: { confirm: 'Are you sure?' }%>
                                    <% end %>
                                  </td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                      <% end %>
                  <% end %>
              <% else %>
                  <h3>You have no active Withdrawal transactions</h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
