<div id="fh5co-pricing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
        <h2 style="font-size: 50px; color: #FFFFFF"> My Transactions </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center animate-box">
        <div class="pricing">
          <div class="col-md-12 animate-box">
            <div class="price-box" style="overflow-x:auto;">
              <h2 class="pricing-plan"> Transactions on Donation </h2>
              <% if @donations.present? %>
                  <% @donations.each_with_index do |donation, index| %>
                      <br>
                      <h4>Donation <%= index + 1 %>: Amount:
                        <%= display_as_money(donation.amount) %>
                        Balance: <%= display_as_money(donation.balance) %>
                        <br>
                        <hr>
                      </h4>
                      <% if donation.money_transactions.present? %>
                          <table>
                            <thead>
                            <th></th>
                            <th>Recipient Name</th>
                            <th>Contact</th>
                            <th>Bank Name</th>
                            <th>Account Number</th>
                            <th>Branch Code</th>
                            <th>Account Type</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Upload Proof</th>
                            </thead>
                            <tbody>
                            <% donation.money_transactions.each_with_index do |tr, index| %>
                                <tr>
                                  <td><%= index + 1 %></td>
                                  <td><%= tr.withdrawal_user_name %></td>
                                  <td><%= tr.withdrawal_user_contact %></td>
                                  <td><%= tr.recipient_bank_name %></td>
                                  <td><%= tr.recipient_account_number %></td>
                                  <td><%= tr.recipient_branch_code %></td>
                                  <td><%= tr.recipient_account_type %></td>
                                  <td><%= tr.amount %></td>
                                  <td><%= tr.status %></td>
                                  <td>
                                    <% if tr.proof_of_payment.thumb.url.present? %>
                                      <%= image_tag(tr.proof_of_payment.thumb.url)  %>
                                    <% else %>
                                      <%= link_to 'Upload', edit_money_transaction_path(tr.id), class: 'btn btn-primary btn-outline' %>
                                    <% end %>
                                  </td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                      <% end %>
                  <% end %>
              <% else %>
                  <h3>You have no active donation transactions</h3>
              <% end %>
            </div>

            <div class="price-box" style="overflow-x:auto;">
              <h2 class="pricing-plan"> Transactions on Withdrawal </h2>
              <% if @withdrawals.present? %>
                  <% @withdrawals.each_with_index do |withdrawal, index| %>
                      <br>
                      <h4>Withdrawal <%= index + 1 %>:
                        Amount: <%= display_as_money(withdrawal.amount) %>
                        Balance: <%= display_as_money(withdrawal.balance) %>
                      </h4>
                      <hr>
                      <br>
                      <% if withdrawal.pending_money_transactions.present? %>
                          <table>
                            <thead>
                            <th></th>
                            <th>Donor Name</th>
                            <th>Contact</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Hours Elapsed</th>
                            <th>Proof of payment</th>
                            <th colspan="2">Complete/Reject</th>
                            </thead>
                            <tbody>
                            <% withdrawal.pending_money_transactions.each_with_index do |tr, index| %>
                                <tr>
                                  <td><%= index + 1 %></td>
                                  <td><%= tr.donation_user_name %></td>
                                  <td><%= tr.donation_user_contact %></td>
                                  <td><%= display_as_money(tr.amount) %></td>
                                  <td><%= tr.status %></td>
                                  <td><%= tr.hours_elapsed %></td>
                                  <td>
                                    <% if tr.proof_of_payment.present? %>
                                        <%= image_tag tr.proof_of_payment.thumb.url %>
                                    <% else %>
                                      NOT YET UPLOADED
                                    <% end %>
                                  </td>
                                  <td>
                                    <%= form_tag(toggle_transaction_status_path(tr.id)) do %>
                                        <%= hidden_field_tag(:id, current_user.id) %>
                                        <%= hidden_field_tag(:status, MoneyTransaction.statuses[:completed]) %>
                                        <%= submit_tag 'Complete',
                                                       class: 'btn btn-primary btn-outline',
                                                       data: { confirm: 'Are you sure?' },
                                                       disabled: !tr.pending?
                                        %>
                                    <% end %>
                                  </td>
                                  <td>
                                    <%= form_tag(toggle_transaction_status_path(tr.id)) do %>
                                      <%= hidden_field_tag(:id, current_user.id) %>
                                      <%= hidden_field_tag(:status, MoneyTransaction.statuses[:rejected]) %>
                                      <%= submit_tag 'Reject',
                                                     class: 'btn btn-primary btn-outline',
                                                     data: { confirm: 'Are you sure?' },
                                                     disabled: !tr.pending? || tr.hours_elapsed < 48
                                      %>
                                    <% end %>
                                  </td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                      <% end %>
                  <% end %>
              <% else %>
                  <h3>You have no active Withdrawal transactions</h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fh5co-counters" style="background-image: url(<%= image_path('2.jpg') %>);" data-stellar-background-ratio="0.5" id="counter-animate">
    <div class="fh5co-narrow-content animate-box">
      <div class="row" >
        <div class="col-md-10">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                <div class="fh5co-icon">
                  <i class="icon-info"></i>
                </div>
              <div class="fh5co-text">
                 <h2 style = "color: #da1212"> ACTIVE TRANSACTIONS </h2><br/>
                  <p style = "color: #fff"> All active transactions will show on this screen. Whether you are donationg to a participant or receiving donation. When donating or receiving, you will see all users that you must connect with here. </p>
              </div>
            </div> 
        </div>
      </div>
    </div>
</div>