<div id="fh5co-pricing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-4 text-center fh5co-heading animate-box">
        <h2 style="font-size: 50px; color: #FFFFFF"> Sign Up </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-4 text-center animate-box">
        <div class="pricing">
          <div class="col-md-12 animate-box">
            <div class="price-box" style="overflow-x:auto;">

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <br>
                <div class="row ">
                  <%= f.text_field :first_name, autofocus: true, placeholder: 'First Name' %>
                  <%= f.text_field :last_name, placeholder: 'Last Name' %>
                </div>
                <br>
                <div class="row ">
                  <%= f.text_field :cellphone, placeholder: 'Cellphone' %>
                  <%= f.email_field :email, placeholder: 'Email' %>
                </div>
                <br>
                <div class="row ">
                  <%= f.email_field :referrer_email, placeholder: 'Referrer Email' %>
                </div>
                <br>
                  <% if current_user.present? && current_user.is?('admin') %>
                    <div class="form-group">
                      <% for role in User::ROLES %>
                        <div class="checkbox-inline">
                          <%= radio_button_tag "user[roles][#{role}]", role, @user.roles.include?(role), { name: 'user[roles][]' }%>
                          <%= label_tag "user_roles_#{role}", role.humanize %>
                        </div>
                      <% end %>
                      <%= hidden_field_tag 'user[roles][]', '' %>
                    </div>
                  <% end %>
                <div class='row'>
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br/>
                  <%= f.password_field :password, placeholder: 'Password', autocomplete: 'off' %>
                  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: 'off' %>
                </div>
                <br>
                <div class='actions'>
                  <%= f.hidden_field :referer_guid, :value => params[:ref] %>
                  <%= f.submit 'Sign up', class: 'btn btn-primary btn-outline' %>
                </div>
              <% end %>

              <%= render 'devise/shared/links' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>