<div id="fh5co-pricing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
        <h2 style="font-size: 50px; color: #FFFFFF"> Active Donations </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center animate-box">
        <div class="pricing">
          <div class="col-md-12 animate-box">
            <div class="price-box" style="overflow-x:auto;">
              <h2 class="pricing-plan"> Active Donation </h2>
              <% if @donations.present? %>
                  <table>
                    <thead>
                    <th>Created Date</th>
                    <th>Expiry Date</th>
                    <th>Amount</th>
                    <th>Months<br>Invested</th>
                    <th>Counter</th>
                    <th>Profit</th>
                    <th>Compound</th>
                    <th>Checkout</th>
                    </thead>
                    <tbody>
                    <% @donations.each do |donation| %>
                      <tr>
                        <td><%= donation.created_at.strftime('%d/%m/%Y') %></td>
                        <td><%= (donation.maturity_date).strftime('%d/%m/%Y') %></td>
                        <td><%= display_as_money(donation.amount) %></td>
                        <td><%= donation.months_invested %></td>
                        <td><%= number_with_precision(donation.profit_counter, precision: 0) %></td>
                        <td><%= display_as_money(donation.profit) %></td>
                        <td>
                          <button type="submit"
                                  name="submit"
                                  class="btn btn-primary btn-outline"
                                  data-toggle="modal"
                                  data-target="#deposit-<%= donation.id%>"
                                  <% if donation.profit < 300 || donation.profit_counter < 7 %>
                                  disabled="disabled"
                                  data-toggle="tooltip" title="You can only compound after 7 days and have more than 300"
                                  <% end %>
                          >
                            Compound
                          </button>
                        </td>
                        <td>
                          <button type="submit"
                                  name="submit"
                                  class="btn btn-primary btn-outline"
                                  data-toggle="modal"
                                  data-target="#checkout-<%= donation.id%>"
                                  <% if donation.profit < 300 || donation.profit_counter < 7 %>
                                    disabled="disabled"
                                    data-toggle="tooltip" title="You can only checkout after 7 days and have more than 300"
                                  <% end %>
                          >
                            Checkout
                          </button>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
              <% else %>
                  <h3>You have no active donations</h3>
                  <button type="submit"
                          name="submit"
                          class="btn btn-primary btn-outline"
                          data-toggle="modal"
                          data-target="#deposit"
                          <% if current_user.pending_donations.present? %>
                          disabled="disabled"
                          data-toggle="tooltip" title="You still have pending donations"
                          <% end %>
                  >
                    Donate
                  </button>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% @donations.each do |donation| %>
  <%= render partial: './common/modal_container', locals: {
      modal_id:  donation.id,
      data: { profit: donation.profit, donation_id: donation.id },
      modal_path: './common/deposit_modal'
  } %>
<% end %>

<% @donations.each do |donation| %>
    <%= render partial: './common/modal_container', locals: {
        modal_id:  donation.id,
        data: { profit: donation.profit, donation_id: donation.id },
        modal_path: './common/checkout_modal'
    } %>
<% end %>

<div class="modal fade" id="deposit" role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan"><%= image_tag('deposit.png', :alt => 'Community Wealth SA 2017') %></h2>
                <%= form_tag('/donations', remote: true, format: :json) do %>
                    <h2> HOW MUCH IS YOUR DEPOSIT? <sup class="currency"></sup></h2><br/>
                    <%= hidden_field_tag(:user_id, current_user.id) %>
                    <%= hidden_field_tag(:compounded, false) %>
                    <div class="price">
                      <%= select_tag(:amount, options_for_select(['Please select'].concat((1000..50000).step(500).to_a)), {class: 'btn btn-primary btn-outline', required: true}) %><sup class="currency"></sup>
                    </div>
                    <br/><br/>

                    <button type="button"
                            class="btn btn-primary btn-outline"
                            data-dismiss="modal" >Cancel</button>
                    <%= submit_tag 'Approve', class: 'btn btn-primary btn-outline', required: 'required', data: { toggle: 'modal', target: '#deposit' }%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fh5co-counters" style="background-image: url(<%= image_path('2.jpg') %>); width: 100%" data-stellar-background-ratio="0.5" id="counter-animate">
          <div class="fh5co-narrow-content animate-box">
            <div class="row" >
              <div class="col-md-10">
                  <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                      <div class="fh5co-icon">
                        <i class="icon-info"></i>
                      </div>
                    <div class="fh5co-text">
                       <h2 style = "color: #da1212"> Active Donations </h2><br/>
                       <h2 style = "color: #fff" >Column 1- Created Date </h2>
                       <p style = "color: #fff">  After a donation is made: This column will display the dates at which these donations were made and not when it was taken. This means, you could be in profits if you have waited for a while before your donation was taken. <p/>


                       <h2 style = "color: #fff" > Column 2 – Expiry Date </h2>
                       <p style = "color: #fff">  This column a date at which that particular transaction will expire from the system. The user will have to donate again in order to recieve donation from other participants. It is important that we keep the system circulating as this is our strategy to balance the system. <p/>

                       <h2 style = "color: #fff" >Column 3- Amount </h2>
                       <p style = "color: #fff">  This column shows the donation amount inserted or compounded. <p/>

                       <h2 style = "color: #fff" > Column 4 – Months Invested </h2>
                       <p style = "color: #fff"> This column will display the number of months which your donation has been active on the system. <p/>

       
                       <h2 style = "color: #fff" > Column 5 – Counter </h2>
                       <p style = "color: #fff"> The counter counts the number of days in the month till end of the month. Everyday the donation grows by 1% (Depending on user participation). <p/>

         
                       <h2 style = "color: #fff" > Column 6 – Profit </h2>
                       <p style = "color: #fff"> This column displays the profit the transaction has accumulated over the “counter days". A user is allowed to checkout "send to wallet" the profits only if the profit has accumulated to R300 and 7 days has expired. <p/>

        
                       <h2 style = "color: #fff" > Column 7 – Compound </h2>
                       <p style = "color: #fff"> Compound "Create a new donation" the profits if they are more than R1000. This button is also found in the wallet. <p/>

                       <h2 style = "color: #fff" > Column 8 – Checkout </h2>
                       <p style = "color: #fff">  The user can also “Checkout” their funds this means that the money is transferred to your wallet and you are able to withdraw your money from your wallet. <p/>

                    </div>
                  </div> 
              </div>
            </div>
          </div>
      </div>