<div id="fh5co-pricing-section" >
  <div class="container" >
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
        <h2 style = "font-size: 50px; color: #FFFFFF" >Banking Information </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-3 text-center animate-box">
        <div class="pricing">
          <div class="col-md-6 animate-box">
            <div class="price-box">
              <h2 class="pricing-plan">Banking Details</h2>
              <%= form_for(@account) do |account| %>
                  <%= account.hidden_field :user_id, :value => current_user.id %>
                  <table>
                    <tr>
                      <th class="pricing-plan">Bank Name</th>
                      <th><%= account.text_field :bank_name, class: 'form-control', required: 'required'   %></th>
                    </tr>

                    <tr>
                      <th class="pricing-plan">Account Number</th>
                      <td><%= account.text_field :account_number, class: 'form-control', required: 'required'   %></td>
                    </tr>

                    <tr>
                      <th class="pricing-plan">Account Type</th>
                      <td>
                        <%= account.select :account_type, %w(Cheque Transmission Savings), class: 'form-control', required: 'required' %>
                      </td>
                    </tr>
                    <tr>
                      <th class="pricing-plan">Branch Code</th>
                      <td><%= account.text_field :branch_code, class: 'form-control', required: 'required'   %></td>
                    </tr>

                    <tr>
                      <th>
                      </th>
                      <th><%= account.submit 'Save Account', class: 'btn btn-primary btn-outline' %></th>
                    </tr>

                  </table>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>