<div class="col-md-4 animate-box">
  <div class="price-box">
    <h2 class="pricing-plan"><%= advert.title %></h2>
    <p class="show-read-more"><%= advert.advert_body %></p>
    <div>
      <p>Email: <%= advert.email %></p>
      <p>Phone: <%= advert.phone %></p>
      <div class="address">
        <%= advert.address %>
      </div>
    </div>
  </div>
</div>