<div class="modal fade" id=deposit-<%= modal_id %> role="dialog">
  <div id="fh5co-pricing-section" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center animate-box">
          <div class="pricing">
            <div class="col-md-8 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan"><%= image_tag('deposit.png', :alt => 'Community Wealth SA 2017') %></h2>
                <%= form_tag('/donations', remote: true, format: :json) do %>
                    <h2> HOW MUCH DO YOU WANT TO COMPOUND? <sup class="currency"></sup></h2><br/>
                    <%= hidden_field_tag(:user_id, current_user.id) %>
                    <%= hidden_field_tag(:compounded, true) %>
                    <%= hidden_field_tag(:donation_id, data[:donation_id]) %>
                    <div class="price">
                      <%= select_tag(:amount, options_for_select(['Please select'].concat((1000..data[:profit]).step(500).to_a)), {class: 'btn btn-primary btn-outline', required: true}) %><sup class="currency"></sup>
                    </div>
                    <br/><br/>

                    <button type="button"
                            class="btn btn-primary btn-outline"
                            data-dismiss="modal" >Cancel</button>
                    <%= submit_tag 'Approve', class: 'btn btn-primary btn-outline', required: 'required', data: { toggle: 'modal', target: '#deposit' }%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
