<div class="col-md-6 animate-box">
  <div class="price-box">
    <h2 class="pricing-plan">Personal Information</h2>
    <table>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |u| %>
          <%= u.hidden_field :referrer_guid, value => params[:ref] %>
          <tr>
            <th class="pricing-plan">First Name</th>
            <th><%= u.text_field :first_name, class: 'form-control', required: 'required' %></th>
          </tr>

          <tr>
            <th class="pricing-plan">Last Name</th>
            <td><%= u.text_field :last_name, class: 'form-control', required: 'required' %></td>
          </tr>

          <tr>
            <th class="pricing-plan">Mobile Phone</th>
            <td><%= u.text_field :cellphone, class: 'form-control', required: 'required' %></td>
          </tr>

          <tr>
            <th class="pricing-plan">E-mail</th>
            <td><%= u.text_field :email, class: 'form-control', required: 'required' %></td>
          </tr>

          <tr>
            <th class="pricing-plan">Referrer E-mail</th>
            <td><%= u.text_field :referrer_email, class: 'form-control', required: 'required' %></td>
          </tr>

          <tr>
            <th class="pricing-plan">Password</th>
            <td><%= u.password_field :first_name, class: 'form-control', required: 'required' %></td>
          </tr>

          <tr>
            <th class="pricing-plan">Confirm Password</th>
            <td><%= u.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', required: 'required' %></td>
          </tr>

          <tr>
            <th>
            </th>
            <th><%= u.submit 'Update Profile', class: 'btn btn-primary btn-outline',  'data-toggle': 'tooltip', 'data-placement':'top', title: 'Edit Client Account' %></th>
          </tr>
      <% end %>
    </table>

  </div>
</div>